body {
    font-family: Arial, Tahoma;
    font-size: 12px;
}

/* clearfix */
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix /* For IE 6/7 (trigger hasLayout) */
{
    zoom: 1;
}

/**/
.padding0 {
    padding: 0;
}

header[title] {

}

.notinfo {
    display: inline-block !important;
    font-size: 12px;
    font-weight: normal;
    text-transform: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 1em;
    margin: 0;
}

/* fix bootstrap*/
.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.container-fluid {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.nav-justified > li {
    width: auto !important;
}

.navbar-nav > li.active {
    /*background-color: #00a651;*/
}

.navbar-nav > li > a {
    line-height: 30px;
    margin-bottom: 0;
    padding: 0 28px;
    color: #fff;
    font-family: 'UTM Avo' Arial;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar-nav > li > a:hover {
    background-color: #733D0A;
}

.navbar-nav > li.current {
    background-color: #733D0A;
}

.icon-bar {
    background-color: #f0f0f0;
}

.navbar {
    margin-bottom: 0;
}

/**/
.box_shadow {
    box-shadow: 0 3px 5px;
}

.margin_bottom_30 {
    margin-bottom: 30px;
}

.margin_bottom_24 {
    margin-bottom: 24px;
}

.margin_bottom_12 {
    margin-bottom: 12px;
}
.margin_bottom_10 {
    margin-bottom: 10px;
}

.margin_bottom_15 {
    margin-bottom: 15px;
}

.margin_bottom_8 {
    margin-bottom: 8px;
}

.margin_top__25 {
    margin-top: -25px;
}

.mainwidth {
    position: relative;
    margin: 0 auto;
}

.header {
    background-color: #2F261D;
    width: 100%;
    color: #fff;
}

.line_black {
    border-bottom: 4px solid #000000;
}

/* header_1 */
.header_1 {
    position: relative;
    background-color: #733D0A;
    position: relative;
    border-bottom: 1px solid #fff;
    width: 100%;
    line-height: 35px;
}

.header_1 ul {
}

.header_1 ul li {
    float: left;
    padding-left: 0;
}

.header_1 ul li img {
    margin-right: 10px;
}

/* link_seo */
.link_seo {
    position: absolute;
    top: -px;
    right: 15px;
}

.link_seo ul {
}

.link_seo ul li {
    float: left;
}

.link_seo ul li:last-child {
    margin-right: 0;
}

/* title */
.title {
    margin: 0 0 10px 0;
    padding: 0;
    color: #733D0A;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

/**/
/* header_2 */
.header_2 {
    margin: 5px 0 25px;
}

.logo {
    float: left;
}

.find {
    position: relative;
    float: right;
    margin-top: 5px;
    margin-right:-30px;
}

.find_input {
    height: 36px;
    background-color: #232323;
    border-color: #4f4f4f;
    border-bottom-style: solid;
    font-style: italic;
    border-radius: 0;
}

.find_button {
    position: absolute;
    top: 10px;
    right: 20px;
}

/**/
/* header_3 */
.header_3 {
    background: url(../images/BgMenu.png) top repeat;
}

.header_3 nav {
}

.header_3 nav ul {
}

.header_3 nav ul li {
    float: left;
}

.header_3 nav ul li a {
    padding: 0;
    line-height: 55px;
    margin-bottom: 0;
    padding: 0 28px;
    color: #fff;
    font-family: 'UTM Avo' Arial;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.header_3 nav ul li a:hover {
    background-color: #733D0A;
}

.header_3 nav ul li a.active {
    background-color: #733D0A;
}

/* banner */
.banner {
    float: left;
    border: 1px solid #A4A3A3;
    padding: 0;
}

/**/
/*slider1_container*/
#slider1_container {
    position: relative;
}

#slider1_container div div div div img {
    width: 100%;
}

/* service_main */
.service_main {
    float: left;
    padding-right: 0;
}

.service_main ul {
}

.service_main ul li {
    overflow: hidden;
    height: 186px;
    margin-bottom: 16px;
    padding: 0;
}

.service_main ul li:last-child {
    margin-bottom: 0;
}

.service_main ul li a {
    display: block;
    position: relative;
    height: 100%;
}

.service_main ul li a img {
    width: 100%;
}

.service_main ul li a span {
    display: block;
    position: absolute;
    background-color: rgba(115, 61, 10, 0.8);
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 18px 0 17px 0;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

/**/
/* blog_bg */
.blog_bg {
    background: url(../images/Bg2.png) #fff;
    padding: 0px 0 0px 0;
}

.blo_banner {
    padding: 0;
}

/**/
/* about_main */
.about_main {
    padding: 0;
}

.about_main ul {
}

.about_main ul li {
    float: left;
    margin-bottom: 15px;
}

.about_main ul li a {
/ / position: relative;
}

.about_main ul li a span {
    display: block;
}

.about_main ul li a img {
    width: 100%;
}

.about_main ul li a .about_main_info {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-bottom: 23px;
    padding-top: 10px;
}

.about_main ul li a:hover .about_main_info {
    background-color: rgba(0, 0, 0, 0.60);
}

.about_main ul li a .about_main_info .name {
    margin-bottom: 7px;
    color: #ff0000;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #fff;
}

.about_main ul li a .about_main_info .summary {
    padding: 0 16px;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}

/******************carousel**********************/
.es-carousel-wrapper {
    position: relative;
    margin: 0px 0;
}

.es-carousel-wrapper .title {
    display: inline-block;
    background-color: #733D0A;
    border: 1px solid #a8abb0;
    border-bottom: none;
    padding: 10px 20px;
    margin: 0 0 1px 0;
    color: #fff;
    font-weight: normal;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.es-carousel-wrapper .title a {
    color: #fff;
}

.es-carousel-wrapper .title a:hover {
    color: #f0f0f0;
    text-decoration: none;
}

.es-carousel-wrapper .es-carousel {
    width: 100%;
    overflow: hidden;
    padding: 0;
}

.es-carousel-wrapper .items {
    padding-left: 0;
}

.es-carousel-wrapper .items > li {
    float: left;
    position: relative;
    padding: 1px;
    overflow: hidden;
}

.es-carousel-wrapper .items > li > a {
    text-decoration: none;
}

.es-carousel-wrapper h3 {
    padding-right: 70px;
}

.es-carousel-wrapper .es-nav-prev, .es-carousel-wrapper .es-nav-next {
    display: block !important;
    width: 27px;
    height: 27px;
    overflow: hidden;
    background-position: center top;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    text-indent: -100%;
    font-size: 0;
    line-height: 0;
    white-space: nowrap;
    cursor: pointer;
    z-index: 996;
}

.es-carousel-wrapper .es-nav-prev {
    background-image: url(../images/carousel-prev.png);
    right: 28px;
}

.es-carousel-wrapper .es-nav-next {
    background-image: url(../images/carousel-next.png);
    right: 0;
}

.es-carousel-wrapper .es-nav-prev:hover, .es-carousel-wrapper .es-nav-next:hover {
    background-position: 0 -29px;
}

#carousel-1 .indent-bottom {
    padding-bottom: 26px;
}

#carousel-2 {
}

#carousel-3 .indent-bottom {
    padding-bottom: 21px;
}

#carousel-3 .box1 {
    padding-bottom: 20px;
    min-height: 354px;
}

.p3 {
    display: block;
    background: rgba(0, 0, 0, 0);
    margin-bottom: 15px;
    border: 0 none;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: top;
    font-size: 100%;
}

.p3 .name {
    display: block;
    width: 100%;
    padding: 7px 0;
    color: #000;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.title_carousel{
    background: -webkit-linear-gradient(top, #ccc, #eaeae8);
    /* For Opera 11.1 to 12.0 */
    background: -o-linear-gradient(top, #ccc, #eaeae8);
    /* For Fx 3.6 to 15 */
    background: -moz-linear-gradient(top, #ccc, #eaeae8);
    /* Standard syntax */
    background: linear-gradient(to bottom, #ccc, #eaeae8);
    margin-top: -2px;
    filter: alpha(opacity=60);
    /* IE */
    -moz-opacity: 0.6;
    /* Mozilla */
    opacity: 0.8;
}

.p5 {
    display: block;
    line-height: 27px;
    margin-bottom: 10px;
    padding-left: 10px;
    color: #0E71B4;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.img-box {
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 5px;
    height: 165px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.img-box img {
    position: absolute;
    border: none;
    top: 0;
    left: 0;
    max-width: 229px;
}

/*-------------------------------------------------------------------*/
/* product_main */
.product_main {
    padding-left: 0;
}

.product_main ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.product_main ul li {
    position: relative;
    float: left;
    margin-bottom: 15px;
}

.product_main ul li:last-child {
    margin-right: 0;
    padding: 0 0 0 15px;
}

.product_main ul li:last-child {
    margin-right: 0;
}

.product_main ul li img {
}

.product_main ul li .button {
    position: absolute;
    border: 2px solid #fff;
    background-color: #3699fc;
    padding: 8px 12px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
}

/**/
/* absolute_left */
.absolute_left {
    bottom: 20px;
    left: 20px;
}

/* absolute_right */
.absolute_right {
    bottom: 20px;
    right: 20px;
}

/* link_web */
.link_web {
    float: left;
    border-right: 1px solid #f0f0f0;
    height: 224px;
    padding-left: 0;
}

.link_web ul {
}

.link_web ul li {
    float: left;
    background: url(../images/Bullet.png) top left no-repeat;
    background-position: 0 13px;
    border-bottom: 1px dotted #000;
    width: 100%;
    height: 36px;
}

.link_web ul li a {
    line-height: 36px;
    padding-left: 16px;
    color: #000;
    text-decoration: none;
}

/**/

/* news_index */
.news_index {
    float: left;
}

.news_index ul li {
    border-bottom: 1px dotted #f0f0f0;
    width: 100%;
    height: 81px;
    padding-top: 8px;
}

.news_index ul li:last-child {
    border-bottom: none;
}

.news_index ul li a {
    display: block;
}

.news_index ul li a:hover {
    text-decoration: none;
}

.news_index ul li a span {
    display: block;
    float: left;
}

.news_index ul li a h2 {
    display: block;
    float: left;
    margin: 0 0 8px 0;
    padding: 0;
}

.news_index ul li a .image {
    border: 1px solid #f0f0f0;
    overflow: hidden;
    width: 66px;
    height: 66px;
    padding: 2px;
    margin-right: 18px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.news_index ul li a .image img {
    height: 60px;
}

.news_index ul li a .name {
    line-height: 17px;
    color: #733D0A;
    font-size: 12px;
}

.news_index ul li a h3 {
    display: block;
    float: left;
    line-height: 160%;
    margin: 0;
    padding: 0;
    font-size: 1em;
}

.news_index ul li a .summary {
    overflow: hidden;
    height: 35px;
    color: #000000;
}

/**/
/* link_facebook */
.link_facebook {
    overflow: hidden;
    padding-right: 0 !important;
    text-align: right;
}

.link_facebook img {
    margin-left: 24px;
}

/**/
/* bordertop */
.bordertop {
    border-top: 1px solid #fff;
}

/* borderbottom00a651 */
.borderbottom00a651 {
    border-bottom: 4px solid #733D0A;
}

.padding_27 {
    padding: 27px 0;
}

.paddingtop_10 {
    padding-top: 10px;
}

.paddingbottom_12 {
    padding-bottom: 12px;
}

/* background00a651 */
.background00a651 {
    background-color: #733D0A;
}

/**/
/* addressfoot */
.addressfoot {
    float: left;
    color: #fff;
}

.addressfoot .name {
    font-weight: bold;
    text-transform: uppercase;
}

.copyright {
    float: right;
    color: #fff;
    text-align: right;
}

/**/
/* menu_left */
.menu_left {
    float: left;
    width: 100%;
    margin-bottom: 20px;
    padding-left: 0;
}

.menu_left ul li.nav_sangtao {
    float: left;
    background: url(../images/Bullet.png) top left no-repeat;
    background-position: 0 1px;
    border-bottom: 1px dotted #000;
    width: 100%;
    height: 36px;
}

.menu_left ul {
}

.menu_left ul li {
    float: left;
    background: url(../images/Bullet.png) top left no-repeat;
    background-position: 0 13px;
    border-bottom: 1px dotted #000;
    width: 100%;
}

.menu_left ul li:last-child {
    border-bottom: none;
}

.menu_left ul li a {
    line-height: 36px;
    padding-left: 16px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}

.menu_left ul li a h2 {
    line-height: 36px;
}

.menu_left ul li a {
    display: block;
}

/**/
/* productlist */
.productlist {
    padding-right: 0;
}

.productlist .productlist_title {
    float: right;
    background-color: #733D0A;
    padding: 16px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.productlist .productlist_title h1 {
    margin: 0;
    font-size: 15px;
    font-weight: bold;
}

.productlist .content {
    float: right;
    line-height: 160%;
    margin: 0 0 30px 0;
    padding: 0;
    font-size: 14px;
    text-align: justify;
}

.productlist ul {
    margin-left: -16px;
}

.productlist ul li {
    float: left;
    margin: 0 0 16px 0;
}

.productlist ul li a {
    border: 1px solid #f0f0f0;
    overflow: hidden;
    padding: 1px;
    color: #000;
    text-decoration: none;
}

.productlist ul li a span {
    display: block;
}

.productlist ul li a .image {
    overflow: hidden;
    height: 165px;
    margin-bottom: 17px;
}

.productlist ul li a .name {
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.productlist ul li a:hover .name {
    color: #733D0A;
}

.productlist ul li a .summary {
    overflow: hidden;
    height: 68px;
    padding: 0 10px 10px 10px;
    line-height: 160%;
}

.productlist ul li a .summary p {
    overflow: hidden;
    height: 58px;
}

/* menu_page */
.menu_page {
}

.menu_page ul {
}

.menu_page ul li {
    background: url(../images/Bullet.png) top left no-repeat;
    background-position: 0 5px;
    float: left;
    margin-right: 10px;
    padding-left: 20px;
}

.menu_page ul li:first-child {
    padding-left: 0;
    background-image: none;
}

.menu_page ul li a {
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
}

.menu_page ul li a.current {
    color: #733D0A;
}

/* the overlayed element */
.simple_overlay {
    /* must be initially hidden */
    display: none;
    width: 1px;
    height: 1px;
    position: absolute;
    /* place overlay on top of other elements */
    z-index: 10000;
    /* styling */
    background-color: #111111;
}

/* close button positioned on upper right corner */
.simple_overlay .close {
    background-image: url(../images/icon_close.png);
    position: absolute;
    right: -15px;
    top: -15px;
    cursor: pointer;
    height: 35px;
    width: 35px;
    z-index: 1;
}

/**/
/* "next image" and "prev image" links */
.next, .prev {
    /* absolute positioning relative to the overlay */
    position: absolute;
    z-index: 100;
    top: 40%;
    border: 1px solid #666;
    cursor: pointer;
    display: block;
    padding: 10px 20px;
    color: #fff;
    font-size: 11px;
    /* upcoming CSS3 features */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.prev {
    left: 0;
    border-right: 0;
    margin-left: -62px;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-top-right-radius: 0;
}

.next {
    right: 0;
    border-left: 0;
    margin-right: -62px;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
}

.next:hover, .prev:hover {
    text-decoration: underline;
    background-color: #fff;
}

/* progress indicator (animated gif). should be initially hidden */
.progress {
    position: absolute;
    top: 45%;
    left: 50%;
    display: none;
}

/* page_navi_box */
.page_navi_box {
    position: relative;
    display: inline-block;
    float: right;
    margin-bottom: 5px;
    padding: 0;
}

.page_navi_box .page_navi {
    float: right;
}

.page_navi_box .page_navi ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.page_navi_box .page_navi ul li {
    float: left;
    border: none;
    width: 32px;
    height: 27px;
    margin: 0 10px 0 0;
    text-align: center;
    vertical-align: middle;
}

.page_navi_box .page_navi ul li:last-child {
    margin-right: 0;
}

.page_navi_box .page_navi ul li.current {
    background-color: #733D0A;
}

.page_navi_box .page_navi ul li.current a {
    color: #fff;
}

.page_navi_box .page_navi ul li:hover {
    background-color: #733D0A;
}

.page_navi_box .page_navi ul li a {
    border: none;
    display: block;
    height: 100%;
    color: #000;
    line-height: 27px;
    text-decoration: none;
}

.page_navi_box .page_navi ul li a:hover {
    color: #fff;
}

.buttonnext {
    background-image: url(../images/Next.png);
}

.buttonlast {
    background-image: url(../images/Next_2.png);
}

.buttonfist {
    background-image: url(../images/Prev.png);
}

.buttonprev {
    background-image: url(../images/Prev_2.png);
}

/**/
.blog_left {
    float: left;
    padding-left: 0;
}

/* add_about */
.add_about {
    float: left;
    padding-left: 0;
}

.add_about ul {
}

.add_about ul li {
    float: left;
    border-bottom: 1px dotted #000;
    width: 100%;
}

.add_about ul li:last-child {
    border-bottom: none;
}

.add_about ul li a {
    color: #000;
    text-decoration: none;
}

.add_about ul li a span {
    display: block;
}

.add_about ul li a .name {
    padding: 16px 10px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.add_about ul li a .image {
    background-color: #EFEFEF;
    overflow: hidden;
}

.add_about ul li a .image img {
    margin: 0 auto;
}

/**/
/* customer_logo_list */
.customer_logo_list {
    float: right;
    width: 747px;
}

.customer_logo_list ul {
}

.customer_logo_list ul li {
    width: 128px;
    overflow: hidden;
    border: none;
    margin-left: 21px;
}

.customer_logo_list ul li a {
}

.customer_logo_list ul li a span {
}

.customer_logo_list ul li a .image {
    overflow: hidden;
    width: 126px;
    height: 92px;
    border: 1px solid #f0f0f0;
    padding: 2px;
    margin-bottom: 10px;
}

.customer_logo_list ul li a .image img {
    width: 120px;
}

.customer_logo_list ul li a .name {
    text-align: center;
    padding: 0 10px;
    font-weight: normal;
    text-transform: capitalize;
}

/**/
/* news_blog_left */
.news_blog_left {
    float: left;
    padding-left: 0;
}

.news_blog_left ul li {
    border-bottom: 1px dotted #f0f0f0;
    width: 100%;
    height: 81px;
}

.news_blog_left ul li:last-child {
    border-bottom: none;
    padding-top: 8px;
}

.news_blog_left ul li a {
    display: block;
}

.news_blog_left ul li a span {
    display: block;
    float: left;
}

.news_blog_left ul li a .image {
    border: 1px solid #f0f0f0;
    overflow: hidden;
    padding: 2px;
}

.news_blog_left ul li a .name {
    margin-bottom: 8px;
    color: #009966;
}

.news_blog_left ul li a .summary {
    overflow: hidden;
    height: 35px;
    color: #000000;
}

/**/
/* service_list */
.service_list {
    float: right;
    padding-right: 0;
}

.service_list ul li {
    position: relative;
    border: none;
    border-bottom: 1px dotted #f0f0f0;
    padding-bottom: 20px;
    margin-left: 0;
    width: 100%;
}

.service_list ul li a {
}

.service_list ul li a.button {
    position: absolute;
    display: block;
    background-color: #733D0A;
    bottom: 20px;
    left: 225px;
    line-height: 30px;
    width: 110px;
    height: 30px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.service_list ul li:last-child {
    border-bottom: none;
    padding-top: 8px;
}

.service_list ul li span {
    display: block;
    float: left;
}

.service_list ul li .image {
    border: 1px solid #f0f0f0;
    overflow: hidden;
    height: 167px;
    padding: 2px;
}

.service_list ul li .image img {
    height: 161px;
}

.service_list ul li .name {
    margin-bottom: 8px;
    padding-left: 15px;
    color: #009966;
    font-size: 14px;
}

.service_list ul li .summary {
    overflow: hidden;
    padding-left: 15px;
    height: 100px;
    color: #000000;
}

/**/
/* contact_form */
.contact_form {
}

.contact_form .contact_form_title {
    background: url(../images/247_ic.png) top left no-repeat;
    border-bottom: 1px solid #A4A3A3;
    line-height: 42px;
    height: 42px;
    padding-left: 48px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.contact_form .Contact_Info {
    float: left;
    padding-top: 20px;
}

.contact_form .contact_form_submit {
    padding-top: 20px;
}

.contact_form .contact_form_submit .send_messenger_title {
    display: none;
}

.contact_form .contact_form_submit ul {
}

.contact_form .contact_form_submit ul li {
    float: left;
}

.contact_form .contact_form_submit ul li input {
    border: 1px solid #A4A3A3;
    height: 39px;
    margin-right: 12px;
    margin-bottom: 12px;
    padding-left: 10px;
    border-radius: 5px;
}

.contact_form .contact_form_submit ul li input:last-child {
    margin-right: 0;
}

.contact_form .contact_form_submit ul li textarea {
    float: left;
    border: 1px solid #A4A3A3;
    width: 100%;
    height: 140px;
    margin-right: 12px;
    margin-bottom: 12px;
    padding-left: 10px;
    border-radius: 5px;
}

.contact_form .contact_form_submit ul li .button_send {
    display: inline-block;
    border: 1px solid #f0f0f0;
    width: 100%;
    height: 56px;
    line-height: 56px;
    color: #fff;
    font-size: 21px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    /* For Safari 5.1 to 6.0 */
    background: -webkit-linear-gradient(top, #733D0A, #2E251C);
    /* For Opera 11.1 to 12.0 */
    background: -o-linear-gradient(top, #733D0A, #2E251C);
    /* For Fx 3.6 to 15 */
    background: -moz-linear-gradient(top, #733D0A, #2E251C);
    /* Standard syntax */
    background: linear-gradient(to bottom, #733D0A, #2E251C);
}

/* product_detail */
.product_detail {
    margin-bottom: 30px;
    padding-right: 0;
    padding-left: 0;
}

.product_detail > .title {
    display: block;
    float: left;
    background-color: #733D0A;
    padding: 13px;
    color: #fff;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
}

.product_detail > .title h1 {
    margin: 0;
    font-size: 1em;
}

.product_detail .image {
    float: left;
    overflow: hidden;
    border: 1px solid #F0F0F0;
    height: auto;
    padding: 4px;
    margin-bottom: 20px;
}

.product_detail .form_info {
    position: relative;
    float: left;
    overflow: hidden;
    height: auto;
    margin-bottom: 20px;
    padding-right: 0;
}

.product_detail .form_info ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.product_detail .form_info ul li {
    height: 22px;
}

.product_detail .form_info ul li strong {
    margin-right: 15px;
}

.product_detail .form_info .name {
    overflow: hidden;
    border-bottom: 1px solid #FFF;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 17px;
}

.product_detail .form_info .name span {
    font-size: 17px;
    text-decoration: none;
    line-height: 20px;
    font-weight: bold;
    color: #D50A0A;
}

.product_detail .form_info .summary {
    line-height: 170%;
    padding: 0;
    font-size: 14px;
}

.product_detail .form_info .summary span {
    display: block;
}

.product_detail .form_info .price {
    display: none;
    margin-top: 15px;
    color: #ae0f14;
    font-size: 22px;
}

.product_detail .form_info .price span {
    margin-right: 15px;
    font-size: 18px;
}

.product_detail .form_info .button_order {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    background: #ae0f14;
    padding: 0 20px;
    line-height: 30px;
}

.product_detail .form_info .button_order a {
    display: block;
    color: #FFF;
    font-size: 18px;
}

.product_detail .image_detail_list {
}

.product_detail .image_detail_list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.product_detail .image_detail_list ul li {
    float: left;
    overflow: hidden;
    /*border: 1px solid #000;*/
    /*width: 126px;*/
    height: 100px;
    /*margin-left: 10px;*/
    margin-bottom: 10px;
    text-align: center;
}

.product_detail .image_detail_list ul li a {
    display: block;
    border: 1px solid #000;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.product_detail .image_detail_list ul li a:hover {
    border: 1px solid #AC0303;
}

.product_detail .image_detail_list ul li a img {
    max-height: 100px;
}

.product_detail .image_detail_list ul li:hover a img {
}

.product_detail .image_detail_list ul li .name {
    display: block;
    text-align: center;
    margin-top: -15px;
}

.product_detail .detail_info {
    float: left;
    margin-bottom: 30px;
    padding: 0;
}

.product_detail .detail_info .title {
    border: 1px solid #F0F0F0;
    line-height: 30px;
    padding-left: 10px;
    font-weight: normal;
}

.product_detail .detail_info .content {
    color: #333;
    font-family: 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    line-height: 26px;
    margin: 0;
    text-align: left;
    margin-left: 20px;

}

.product_detail .detail_info .content li {
    list-style:square ;
}
.product_detail .detail_info .content #MainContent_Img_Photos {
    float: left;
    max-width: 400px;
    margin: 0 10px 10px 0;
}

/**/
/* templatelist */
.templatelist {
    margin-bottom: 30px;
}

.templatelist .templatelist_title {
    float: right;
    background-color: #733D0A;
    padding: 16px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.templatelist .templatelist_title h1 {
    font-size: 1em;
    margin: 0;
}

.templatelist .content {
    float: right;
    line-height: 160%;
    width: 731px;
    margin: 0 0 30px 0;
    font-size: 14px;
}

.templatelist ul {
}

.templatelist ul li {
    float: left;
}

.templatelist ul li a {
    border: 1px solid #f0f0f0;
    color: #000;
    text-decoration: none;
}

.templatelist ul li a span {
    display: block;
}

.templatelist ul li a .image {
    overflow: hidden;
    max-height: 340px;
    margin-bottom: 17px;
}

.templatelist ul li a .image img {
}

.templatelist ul li a .name {
    padding: 10px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.templatelist ul li a:hover .name {
    color: #733D0A;
}

.templatelist ul li a .summary {
    padding: 0 10px 10px 10px;
    line-height: 160%;
}

/**/
.socialbuttonlist {
    padding: 5px 0;
}

.socialbuttonlist ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.socialbuttonlist ul li {
    float: left;
    margin-right: 10px;
}

/* creation_area_list */
.creation_area_list {
    margin-bottom: 30px;
}

.creation_area_list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.creation_area_list ul li {
    float: left;
    padding: 2px;
}

.creation_area_list ul li:nth-child(2n+1) {
    background-color: #fdfdfd;
}

.creation_area_list ul li a {
}

.creation_area_list ul li a:hover {
    text-decoration: none;
}

.creation_area_list ul li a span {
    display: block;
    padding: 2px;
}

.creation_area_list ul li a .name {
    padding: 3px 0 5px 0;
    color: #000000;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
}

.creation_area_list ul li a .image {
    border: 1px solid #A4A3A3;
    margin-right: 5px;
}

.creation_area_list ul li a .image img {
    max-height: 120px;
}

.creation_area_list ul li a .summary {
    overflow: hidden;
    height: 55px;
    color: #733D0A;
}

.creation_area_list ul li a .summary p {
    margin: 0;
}

/**/
/* banner_page */
.banner_page {
}

.banner_page a {
}

.banner_page a img {
    width: 100%;
}

/* maparea */
.maparea {
    width: 100%;
    overflow: hidden;
    padding: 0;
}

/**/
/* send_messenger_title */

@media (max-width: 1199px) {
    .service_main {
        float: left;
        padding: 0 0 0 15px;
    }

    .service_main ul li {
        overflow: hidden;
        height: 150px;
        margin-bottom: 19px;
        padding: 0;
    }

    .service_main ul li a {
        position: relative;
        background-position: top;
    }

    .news_blog_left ul li a .summary {
        padding: 0;
    }

    .service_list ul li a.button {
        right: 0;
        left: unset;
    }
}

@media (max-width: 991px) {
    .service_main {
        float: left;
        padding: 0;
    }

    .service_main ul li {
        overflow: hidden;
        width: 352px;
        height: 150px;
        margin-right: 16px;
        margin-bottom: 16px;
        padding: 0;
    }

    .service_main ul li:last-child {
        margin-right: 0;
    }

    .service_main ul li a {
        position: relative;
        background-position: top;
    }

    /* news_index */
    .news_index ul li a .name {
        line-height: 17px;
        width: 65%;
        padding: 0;
        color: #009966;
        font-size: 12px;
    }

    .news_index ul li a .summary {
        overflow: hidden;
        color: #000000;
        width: 65%;
    }

    .news_blog_left ul li a .name {
        padding: 0;
    }

    .service_list ul li .image {
        margin-bottom: 10px;
    }

    .service_list ul li .name {
        padding: 0;
    }

    .service_list ul li .summary {
        padding: 0;
        margin-bottom: 40px;
    }

    .productlist {
        padding-left: 0;
    }

    .blog_left {
        margin-bottom: 30px;
    }

    .copyright {
        float: left;
        text-align: left;
    }

    .contact_form .contact_form_submit .send_messenger_title {
        display: block;
        line-height: 160%;
        border-bottom: 1px solid;
        margin-bottom: 15px;
    }
}

@media (max-width: 766px) {
    .service_main {
        float: left;
        padding: 0;
    }

    .service_main ul li {
        overflow: hidden;
        width: 351px;
        height: 150px;
        margin-right: 16px;
        margin-bottom: 16px;
        padding: 0;
    }

    .service_main ul li:last-child {
        margin-right: 0;
    }

    .service_main ul li a {
        position: relative;
        background-position: top;
    }

    /* product_main */
    .product_main ul li {
        position: relative;
        float: left;
        margin-bottom: 15px;
        padding-right: 0;
    }

    .product_main ul li img {
        width: 100%;
    }

    /* link_web */
    .link_web {
        border-right: none;
    }

    .link_facebook {
        text-align: left;
    }
}

@media (max-width: 767px) {
    .productlist {
        padding-left: 0;
    }

    .news_blog_left {
        margin-bottom: 30px;
    }
}

@media (max-width: 764px) {
    .service_main {
        float: left;
        padding: 0;
    }

    .service_main ul li {
        overflow: hidden;
        width: 100%;
        height: 150px;
        margin-bottom: 16px;
        padding: 0;
    }

    .service_main ul li a {
        position: relative;
        background-position: top;
    }

    .copyright {
        float: left;
        text-align: left;
    }

    .link_seo {
        position: relative;
        padding-left: 30px;
    }
}

@media (max-width: 1025px) {
    .navbar-nav > li > a {
        padding: 0 8px;
        font-size: 10px;
    }
}