<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en-US"> <!--<![endif]-->
<head>


<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Astonish - Multipurpose HTML5 Theme</title>

<!-- ================================ -->
<!-- ========== CSS INCLUDES ========== -->
<!-- ================================ -->
<link href="css/bootstrap.css" media="screen" rel="stylesheet" type="text/css">
<link href="css/buttons.css" media="screen" rel="stylesheet" type="text/css">
<link href="css/font-awesome.css" media="screen" rel="stylesheet" type="text/css">
<link href="css/icomoon.css" media="screen" rel="stylesheet" type="text/css">
<link href="css/parallax-slider.css" media="screen" rel="stylesheet" type="text/css">
<link href="css/prettyPhoto.css" media="screen" rel="stylesheet" type="text/css">
<link id="header-switch" href="css/headers/dark.css" media="screen" rel="stylesheet" type="text/css">
<link href="css/animate.css" media="screen" rel="stylesheet" type="text/css">
<link href="css/astonish.css" media="screen" rel="stylesheet" type="text/css">
<link id="style-switch" href="css/color-schemes/marine.css" media="screen" rel="stylesheet" type="text/css">
</head>
<body data-offset="62" data-spy="scroll" data-target=".navbar" >
<!-- ===== PAGE LOADER GRAPHIC ===== -->
<div id="pageloader">
	<div class="loader-img">
		<img alt="loader" src="img/loader.gif" /> </div>
</div>

<!-- ============ START TOP STICKY MENU ========== -->
<!-- ======================================== -->
<nav class="navbar navbar-default navbar-fixed-top nav-fadein" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-menu">
      <i class="fa fa-bars fa-fw"></i>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="main-menu">
      <ul class="nav navbar-nav navbar-right">
       <li class="active"><a  href="index.html">Trang chủ</a></li>
		  <li><a  href="contact.html">Giới thiệu</a></li>
		  <li><a  href="contact.html">In tem nhãn</a></li>
		  <li><a  href="contact.html">In Quảng Cáo</a></li>
		  <li><a  href="contact.html">In Băng Rôn</a></li>
		  <li><a  href="contact.html">In PP</a></li>
		  <li><a  href="contact.html">In Danh Thiếp</a></li>
		  <li><a  href="contact.html">In Thẻ Nhựa</a></li>
		  <li><a  href="contact.html">In Canvas</a></li>
		  <li><a  href="contact.html">In Seal</a></li>
		  <li><a  href="contact.html">In Decal</a></li>
		  <li><a  href="contact.html">Báo giá</a></li>
		  <li><a  href="contact.html">Liên hệ</a></li>

<!--		 <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <i class="fa-caret-down"></i></a>
          <ul class="dropdown-menu">
            <li><a  href="about.html">About Us</a></li>
           <li><a  href="pricing.html">Pricing Tables</a></li>
            <li><a  href="testimonials.html">Testimonials</a></li>
			 <li><a  href="services.html">Services</a></li>
			  <li><a  href="team-members.html">Team Members</a></li>
			  <li><a  href="faq.html">F.A.Q.</a></li>
          </ul>
        </li>
		 <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Features <i class="fa-caret-down"></i></a>
          <ul class="dropdown-menu">
            <li><a href="shortcodes.html">Shortcodes</a></li>
			<li><a href="icons.html">Icons</a></li>
			<li><a href="animation-engine.html">Animation Engine</a></li>
			<li><a href="support.html">Support and Documentation</a></li>
			<li><a href="isotope.html">Isotope Filter</a></li>
			<li><a href="parallax.html">Parallax Effects</a></li>
          </ul>
        </li>
		<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio <i class="fa-caret-down"></i></a>
          <ul class="dropdown-menu">
            
			<li><a href="portfolio-fullwidth.html">Portfolio Fullwidth</a></li>
			<li><a href="portfolio-single.html">Single Project</a></li>
          </ul>
        </li>
	   <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <i class="fa-caret-down"></i></a>
          <ul class="dropdown-menu">
            <li><a href="blog.html">Blog Fullwidth</a></li>
            <li><a href="blog-sidebar.html">Blog Sidebar</a></li>
			<li><a href="blog-small-img-sidebar.html">Blog Small Image</a></li>
			<li><a href="blog-masonry.html">Blog Masonry</a></li>
            <li><a href="post.html">Post Fullwidth</a></li>
            <li><a href="post-sidebar.html">Post Sidebar</a></li>
          </ul>
        </li>-->
		<!--<li><div class="social-icons"><a href="#"><i class="im-twitter"></i></a><a href="#"><i class="im-facebook"></i></a><a href="#"><i class="im-google-plus"></i></a></div></li>-->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- ======================================== -->
<!-- ============ END TOP STICKY MENU =========== -->
<!-- ======================================== -->
<section id="home">
<!-- ======================================= -->
<!-- ========== START PARALLAX SLIDER ========== -->
<!-- ======================================== -->
 <!-- SlidesJS Required: Start Slides -->
  <!-- The container is used to define the width of the slideshow -->

    <div id="slides">
	<div class="slides-container">
      <div class="parallax img-overlay3" style="background-image:url(img/slide/1.jpg)" data-stellar-background-ratio="0.2">
	  <div class="img-overlay-solid" style="background-color:rgba(60,62,71,0.3);"></div>
	  <div class="caption text-center">
	  <div class="color-white text-center weight-300 large-caption" style="margin-top: -120px">Bạn đã sẵn sàng để đến với</div>
	  <div class="color-white text-center weight-800 super-large-caption">Inkythuatso.top?</div>
	  <h4 class="color-white text-center weight-600 uppercase" style="margin-top: 0px; letter-spacing: 1px;">Chúng tôi là tất cả những gì bạn cần</h4>
	  </div>
	  </div>
	 <div class="parallax img-overlay3" style="background-image:url(img/slide/2.jpg)" data-stellar-background-ratio="0.2">
	   <div class="img-overlay-solid" style="background-color:rgba(60,62,71,0.3);"></div>
		 <div class="caption">
		 <div class="color-white weight-800 uppercase text-center extra-large-caption" style="margin-top: -100px">Welcome to Inkythuatso.top</div>
  <div class="color-white weight-300 text-center medium-caption" style="letter-spacing: 1px">In tem nhãn, in quảng cáo, in băng rôn, in pp,<br/>
	  in danh thiếp, in thẻ nhựa, in decal, in seal<br/> và rất nhiều dịch vụ khác.</div><br/>
  </div></div>
		<div class="parallax img-overlay3" style="background-image:url(img/slide/3.jpg)" data-stellar-background-ratio="0.2">
			<div class="img-overlay-solid" style="background-color:rgba(60,62,71,0.3);"></div>
			<div class="caption text-center">
				<div class="color-white text-center weight-300 large-caption" style="margin-top: -100px">Bạn đã sẵn sàng để đến với</div>
				<div class="color-white text-center weight-800 super-large-caption">Inkythuatso.top?</div>
				<h4 class="color-white text-center weight-600 uppercase" style="margin-top: 0px; letter-spacing: 1px;">Chúng tôi là tất cả những gì bạn cần</h4>
			</div>
		</div>
    </div>
	      <nav class="slides-navigation">
        <a href="#" class="next"><i class="fa-angle-right"></i></a>
        <a href="#" class="prev"><i class="fa-angle-left"></i></a>
      </nav>
    </div>
  <!-- End SlidesJS Required: Start Slides -->
<!-- ======================================= -->
<!-- ========== END PARALLAX SLIDER ========== -->
<!-- ======================================== -->
</section>


<!-- ======================================== -->
<!-- =========== START ABOUT SECTION ============ -->
<!-- ======================================== -->
<!-- ======================================== -->
<!-- =========== END ABOUT SECTION ============= -->
<!-- ======================================== -->

<!-- ======================================== -->
<!-- =========== START TEAM SECTION ============= -->
<!-- ======================================== -->
<section id="team">
<!-- Start Slider Team Display -->
<div class="fullwidth-section half-padding">
<div class="container">
<div class="row">
    <div id="team-slider" class="owl-carousel">
	<!-- Start Member -->
	<div class="team-wrapper">
  <div class="team-img-wrapper">
    <div class="team-img-wrapper-hover">
   <div class="social-icons"><i class="im-twitter"></i><i class="im-pinterest"></i><i class="im-instagram"></i><i class="im-google-plus"></i></div>
	</div>
	 	<img alt="" src="img/team/team-single.png" class="img-responsive img-center">
		</div>
		<h4 class="weight-700">Mike Anthony</h4>
	<h5 class="color-primary uppercase">Creative Director</h5>
	<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore. </p>
   <hr/>
   </div>
   
   <!-- Start Member -->
   <div class="team-wrapper">
  <div class="team-img-wrapper">
    <div class="team-img-wrapper-hover">
   <div class="social-icons"><i class="im-twitter"></i><i class="im-pinterest"></i><i class="im-instagram"></i><i class="im-google-plus"></i></div>
	</div>
	 	<img alt="" src="img/team/team-single.png" class="img-responsive img-center">
		</div>
		<h4 class="weight-700">Todd Bryant</h4>
	<h5 class="color-primary uppercase">Graphic Designer</h5>
	<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore. </p>
   <hr/>
   </div>
      <!-- Start Member -->
     <div class="team-wrapper">
  <div class="team-img-wrapper">
    <div class="team-img-wrapper-hover">
   <div class="social-icons"><i class="im-twitter"></i><i class="im-pinterest"></i><i class="im-instagram"></i><i class="im-google-plus"></i></div>
	</div>
	 	<img alt="" src="img/team/team-single.png" class="img-responsive img-center">
		</div>
		<h4 class="weight-700">Katie Roberts</h4>
	<h5 class="color-primary uppercase">Lead Developer</h5>
	<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore. </p>
   <hr/>
   </div>
  
   
   <!-- Start Member -->
   <div class="team-wrapper">
  <div class="team-img-wrapper">
    <div class="team-img-wrapper-hover">
   <div class="social-icons"><i class="im-twitter"></i><i class="im-pinterest"></i><i class="im-instagram"></i><i class="im-google-plus"></i></div>
	</div>
	 	<img alt="" src="img/team/team-single.png" class="img-responsive img-center">
		</div>
		<h4 class="weight-700">Sarah Parker</h4>
	<h5 class="color-primary uppercase">Graphic Designer</h5>
	<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore. </p>
   <hr/>
   </div>
   
 <!-- Start Member -->
   <div class="team-wrapper">
  <div class="team-img-wrapper">
    <div class="team-img-wrapper-hover">
   <div class="social-icons"><i class="im-twitter"></i><i class="im-pinterest"></i><i class="im-instagram"></i><i class="im-google-plus"></i></div>
	</div>
	 	<img alt="" src="img/team/team-single.png" class="img-responsive img-center">
		</div>
		<h4 class="weight-700">Roger Mason</h4>
	<h5 class="color-primary uppercase">Developer</h5>
	<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore. </p>
   <hr/>
   </div>
     <!-- Start Member -->
     <div class="team-wrapper">
  <div class="team-img-wrapper">
    <div class="team-img-wrapper-hover">
   <div class="social-icons"><i class="im-twitter"></i><i class="im-pinterest"></i><i class="im-instagram"></i><i class="im-google-plus"></i></div>
	</div>
	 	<img alt="" src="img/team/team-single.png" class="img-responsive img-center">
		</div>
		<h4 class="weight-700">Meghan Brown</h4>
	<h5 class="color-primary uppercase">Customer Service</h5>
	<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore. </p>
   <hr/>
   </div>
    </div>

</div>
</div></div>
<!-- End Slider Team Display -->
</section>
<!-- ======================================== -->
<!-- =========== END TEAM SECTION ============= -->
<!-- ======================================== -->

<!-- ======================================== -->
<!-- =========== START PORTFOLIO SECTION ============= -->
<!-- ======================================== -->
<section id="portfolio">
<div class="fullwidth-section kill-bottom-padding">

<div class="row text-center">
<div class="col-md-12"  id="isotope-filter">
<a data-filter="*" href="#" class="btn btn-sm btn-outline btn-primary active">Show All</a>
<a data-filter=".business-cards" href="#" class="btn btn-primary btn-sm btn-outline">Business Cards</a>
<a data-filter=".logos" href="#" class="btn btn-sm btn-outline btn-primary">Logos</a>
<a data-filter=".phone-apps" href="#" class="btn btn-sm btn-outline btn-primary">Phone Apps</a>
</div>

</div>

<div class="row">
<div id="isotope">
<div class="col-sm-3 phone-apps ae">
<div class="portfolio-hover">
<div class="portfolio-hover-buttons">
<a href="http://dribbble.com/shots/606745-In-app-Visual-Data" target="_blank">View Project</a><a data-pp="prettyPhoto[portfolio]" href="http://creativelycoded.com/demos/Astonish/multi-page/img/portfolio/1.jpg" title=""><i class="im-expand2"></i></a></div></div>
<div class="img-thumb" style="background-image: url('http://creativelycoded.com/demos/Astonish/multi-page/img/portfolio/1.jpg');">
</div></div>
<div class="col-sm-3 business-cards ae">
<div class="portfolio-hover"><div class="portfolio-hover-buttons"><a href="http://dribbble.com/shots/1073680-Card-Exploration" target="_blank">View Project</a><a data-pp="prettyPhoto[portfolio]" href="http://creativelycoded.com/demos/Astonish/multi-page/img/portfolio/2.jpg" title=""><i class="im-expand2"></i></a></div></div>
<div class="img-thumb" style="background-image: url('http://creativelycoded.com/demos/Astonish/multi-page/img/portfolio/2.jpg');">
</div></div>
<div class="col-sm-3 phone-apps ae">
<div class="portfolio-hover"><div class="portfolio-hover-buttons"><a href="http://dribbble.com/shots/1478588-Skinny-ScienceCons" target="_blank">View Project</a><a data-pp="prettyPhoto[portfolio]" href="http://creativelycoded.com/demos/Astonish/multi-page/img/portfolio/3.jpg" title=""><i class="im-expand2"></i></a></div></div>
<div class="img-thumb" style="background-image: url('http://creativelycoded.com/demos/Astonish/multi-page/img/portfolio/3.jpg');">
</div></div>
<div class="col-sm-3 logos ae">
<div class="portfolio-hover"><div class="portfolio-hover-buttons"><a href="http://dribbble.com/shots/1478931-BANANAZ" target="_blank">View Project</a><a data-pp="prettyPhoto[portfolio]" href="http://creativelycoded.com/demos/Astonish/multi-page/img/portfolio/4.jpg" title=""><i class="im-expand2"></i></a></div></div>
<div class="img-thumb" style="background-image: url('http://creativelycoded.com/demos/Astonish/multi-page/img/portfolio/4.jpg');">
</div></div>

<div class="col-sm-3 logos ae">
<div class="portfolio-hover"><div class="portfolio-hover-buttons"><a href="http://dribbble.com/AlexTass/projects/36420-Logo-design" target="_blank">View Project</a><a data-pp="prettyPhoto[portfolio]" href="http://creativelycoded.com/demos/Astonish/multi-page/img/portfolio/5.jpg" title=""><i class="im-expand2"></i></a></div></div>
<div class="img-thumb" style="background-image: url('http://creativelycoded.com/demos/Astonish/multi-page/img/portfolio/5.jpg');">
</div></div>
<div class="col-sm-3 phone-apps ae">
<div class="portfolio-hover"><div class="portfolio-hover-buttons"><a href="http://dribbble.com/shots/899177-Slide-Concept" target="_blank">View Project</a><a data-pp="prettyPhoto[portfolio]" href="http://creativelycoded.com/demos/Astonish/multi-page/img/portfolio/6.jpg" title=""><i class="im-expand2"></i></a></div></div>
<div class="img-thumb" style="background-image: url('http://creativelycoded.com/demos/Astonish/multi-page/img/portfolio/6.jpg');">
</div></div>
<div class="col-sm-3 business-cards ae">
<div class="portfolio-hover"><div class="portfolio-hover-buttons"><a href="http://dribbble.com/shots/613918-eSlipcovers-Business-card" target="_blank">View Project</a><a data-pp="prettyPhoto[portfolio]" href="http://creativelycoded.com/demos/Astonish/multi-page/img/portfolio/7.jpg" title=""><i class="im-expand2"></i></a></div></div>
<div class="img-thumb" style="background-image: url('http://creativelycoded.com/demos/Astonish/multi-page/img/portfolio/7.jpg');">
</div></div>
<div class="col-sm-3 logos ae">
<div class="portfolio-hover"><div class="portfolio-hover-buttons"><a href="http://dribbble.com/shots/325244-Sixbase-Logo" target="_blank">View Project</a><a data-pp="prettyPhoto[portfolio]" href="http://creativelycoded.com/demos/Astonish/multi-page/img/portfolio/8.jpg" title=""><i class="im-expand2"></i></a></div></div>
<div class="img-thumb" style="background-image: url('http://creativelycoded.com/demos/Astonish/multi-page/img/portfolio/8.jpg');">
</div></div>

<div class="col-sm-3 phone-apps ae">
<div class="portfolio-hover"><div class="portfolio-hover-buttons"><a href="http://dribbble.com/shots/889914-IOS-7-app-design" target="_blank">View Project</a><a data-pp="prettyPhoto[portfolio]" href="http://creativelycoded.com/demos/Astonish/multi-page/img/portfolio/9.jpg" title=""><i class="im-expand2"></i></a></div></div>
<div class="img-thumb" style="background-image: url('http://creativelycoded.com/demos/Astonish/multi-page/img/portfolio/9.jpg');">
</div></div>
<div class="col-sm-3 logos ae">
<div class="portfolio-hover"><div class="portfolio-hover-buttons"><a href="http://dribbble.com/shots/1054954-Instagram-Logo" target="_blank">View Project</a><a data-pp="prettyPhoto[portfolio]" href="http://creativelycoded.com/demos/Astonish/multi-page/img/portfolio/10.jpg" title=""><i class="im-expand2"></i></a></div></div>
<div class="img-thumb" style="background-image: url('http://creativelycoded.com/demos/Astonish/multi-page/img/portfolio/10.jpg');">
</div></div>
<div class="col-sm-3 business-cards ae">
<div class="portfolio-hover"><div class="portfolio-hover-buttons"><a href="http://dribbble.com/shots/83495-Business-Cards" target="_blank">View Project</a><a data-pp="prettyPhoto[portfolio]" href="http://creativelycoded.com/demos/Astonish/multi-page/img/portfolio/11.jpg" title=""><i class="im-expand2"></i></a></div></div>
<div class="img-thumb" style="background-image: url('http://creativelycoded.com/demos/Astonish/multi-page/img/portfolio/11.jpg');">
</div></div>
<div class="col-sm-3 phone-apps ae">
<div class="portfolio-hover"><div class="portfolio-hover-buttons"><a href="http://dribbble.com/shots/1003043-Responsive-Menu-Tablet-version" target="_blank">View Project</a><a data-pp="prettyPhoto[portfolio]" href="http://creativelycoded.com/demos/Astonish/multi-page/img/portfolio/12.jpg" title=""><i class="im-expand2"></i></a></div></div>
<div class="img-thumb" style="background-image: url('http://creativelycoded.com/demos/Astonish/multi-page/img/portfolio/12.jpg');">
</div></div>
</div>
<!-- END ISOTOPE SCRIPT -->
</div>

</div>
</section>
<!-- ======================================== -->
<!-- =========== END PORTFOLIO SECTION ============= -->
<!-- ======================================== -->

<!-- ======================================== -->
<!-- ============== START FOOTER ============== -->
<!-- ======================================== -->
<div class="fullwidth-section half-padding footer">
<div class="container">
<div class="row social-icons text-center">
<div class="col-md-12">
<i class="im-twitter"></i>

<i class="im-facebook"></i>

<img alt="" class="img-responsive footer-logo ae" data-animation="flip" data-offset="95%" data-speed="1000" src="img/logo-footer.png">

<i class="im-google-plus"></i>

<i class="im-instagram"></i>
</div>
</div>
<div class="row text-center" style="margin-top: 20px">
<div class="col-md-12">
© 2014 All Rights Reserved. Designed by <a href="http://themeforest.net/user/CreativelyCoded/portfolio?ref=CreativelyCoded">CreativelyCoded</a>
</div>
</div>
</div>
</div>
<!-- ======================================== -->
<!-- =============== END FOOTER ============== -->
<!-- ======================================== -->

<!-- ================================================== -->
<!-- ============= START SCROLL TO TOP SCRIPT ============= -->
<!-- ================================================== -->
<div class="scrollup">
	<a class="scrolltotop" href="#"><i class="fa fa-angle-double-up"></i></a></div>
<!-- ================================================== -->
<!-- ============== END SCROLL TO TOP SCRIPT ============== -->
<!-- ================================================== -->

<!-- ===================================== -->
<!-- ========== START JQUERY SCRIPTS ========== -->
<!-- ===================================== -->
<script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="js/stellar.js"></script>
<script type="text/javascript" src="js/counter.js"></script>
<script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="js/jquery.nicescroll.min.js"></script>
<script type="text/javascript" src="js/jquery.nicescroll.plus.js"></script>
<script type="text/javascript" src="js/jquery.superslides.js"></script>
<script type="text/javascript" src="js/owl.carousel.min.js"></script>
<script type="text/javascript" src="js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="js/animation-engine.js"></script>
<script type="text/javascript" src="js/validation.js"></script>
<script src="http://maps.google.com/maps/api/js?sensor=true" type="text/javascript"></script>
<script type="text/javascript" src="js/style-switcher.js"></script>
<script type="text/javascript" src="js/astonish.js"></script>
<!-- ==================================== -->
<!-- ========== END JQUERY SCRIPTS ========== -->
<!-- ==================================== -->
</body>
</html>